## Loading the "absenteeism_module"
#### This will be a three step procedure:
1. model = absenteeism_model('model', 'scaler')
2. model.load_and_clean_data('Absenteeism_new_data.csv')
3. model.predicted_outputs()

In [1]:
from absenteeism_module import *

In [2]:
# Check that we are using the right data for the calculations
pd.read_csv('Absenteeism_new_data.csv')

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,22,27,01/06/2018,179,26,30,237.656,19,3,0,0
1,10,7,04/06/2018,361,52,28,237.656,27,1,1,4
2,14,23,06/06/2018,155,12,34,237.656,25,1,2,0
3,17,25,08/06/2018,179,22,40,237.656,22,2,2,0
4,14,10,08/06/2018,155,12,34,237.656,25,1,2,0
5,28,11,11/06/2018,225,26,28,237.656,24,1,1,2
6,16,7,13/06/2018,118,15,46,275.089,25,1,2,0
7,22,27,13/06/2018,179,26,30,275.089,19,3,0,0
8,34,26,15/06/2018,118,10,37,275.089,28,1,0,0
9,34,10,20/06/2018,118,10,37,275.089,28,1,0,0
10,23,22,21/06/2018,378,49,36,275.089,21,1,2,4
11,36,19,21/06/2018,118,13,50,275.089,31,1,1,0
12,12,19,22/06/2018,233,51,31,275.089,21,2,1,8
13,22,27,22/06/2018,179,26,30,275.089,19,3,0,0
14,2,0,25/06/2018,235,29,48,275.089,33,1,1,5
15,21,0,28/06/2018,268,11,33,275.089,25,2,0,0
16,36,19,28/06/2018,118,13,50,275.089,31,1,1,0
17,22,13,28/06/2018,179,26,30,275.089,19,3,0,0
18,15,28,28/06/2018,291,31,40,275.089,25,1,1,1
19,22,13,02/07/2018,179,26,30,275.089,19,3,0,0
20,34,25,02/07/2018,118,10,37,275.089,28,1,0,0
21,12,22,05/07/2018,233,51,31,275.089,21,2,1,8
22,34,8,06/07/2018,118,10,37,275.089,28,1,0,0
23,34,10,11/07/2018,118,10,37,275.089,28,1,0,0
24,12,22,11/07/2018,233,51,31,275.089,21,2,1,8
25,5,26,11/07/2018,235,20,43,264.604,38,1,1,0
26,12,19,13/07/2018,233,51,31,264.604,21,2,1,8
27,9,6,16/07/2018,228,14,58,264.604,22,1,2,1
28,34,28,16/07/2018,118,10,37,264.604,28,1,0,0
29,9,6,17/07/2018,228,14,58,264.604,22,1,2,1
30,6,22,17/07/2018,189,29,33,264.604,25,1,2,2
31,34,23,18/07/2018,118,10,37,264.604,28,1,0,0
32,10,22,18/07/2018,361,52,28,264.604,27,1,1,4
33,28,22,18/07/2018,225,26,28,264.604,24,1,1,2
34,13,13,23/07/2018,369,17,31,264.604,25,1,3,0
35,11,14,24/07/2018,289,36,33,264.604,30,1,2,1
36,1,11,24/07/2018,235,11,37,264.604,29,3,1,1
37,4,0,24/07/2018,118,14,40,271.219,34,1,1,8
38,8,0,25/07/2018,231,35,39,271.219,35,1,2,2
39,35,0,27/07/2018,179,45,53,271.219,25,1,1,1

In [3]:
# Creating an instance of the absenteeism_model() class

# model file (contains the object reg "an instance of the sklearn logistic regression class" 
# which we used to obtain the intercept, coefficient, and accuracy).
# It is the file containing the fine-tuned finalized version of the logistic regression model "The 
# traditional statistical technique we used to obtain prediction values."
# (Saving the model in a previous step was equivelant to saving the reg object)
 
# scaler file is the file (containing the scaler object that was used to standardize all the numerical variables
# meaning that it stored the columns scaled as well as the mean and std of each feature)
# with the function to scale the values from the absenteeism new data as was done when the ML algorithm was trained. 
# It contains the statistical parameters needed to adjust the magnitude of all numbers we have in this data set. 
# The information in the scaler is used to preprocess new data with the same rules we applied to the training data.
# We want the new data to be with a similar scale.
# Her, I used my model and scaler.
model = absenteeism_model('model', 'scaler')

- Now we can call the methods from the model class.

In [4]:
# The load_and_clean_data() will preprocess the entire data set we provide.

model.load_and_clean_data('Absenteeism_new_data.csv')

In [5]:
# .predicted_outputs() - its role is to feed the cleaned data into the model, and deliver the output.
model.predicted_outputs()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.028301,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.256077,0
2,0,0.0,0,1,6,155,34,25,0,2,0,0.006380,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.018033,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.294305,0
5,1,0.0,0,0,6,225,28,24,0,1,2,0.322647,0
6,1,0.0,0,0,6,118,46,25,0,2,0,0.408251,0
7,0,0.0,0,1,6,179,30,19,1,0,0,0.028301,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.013135,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.463648,0
10,0,0.0,0,1,6,378,36,21,0,2,4,0.006269,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.987260,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.993998,1
13,0,0.0,0,1,6,179,30,19,1,0,0,0.028301,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.002099,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.003682,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.987260,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.654175,1
18,0,0.0,0,1,6,291,40,25,0,1,1,0.008584,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.864071,1
20,0,0.0,0,1,7,118,37,28,0,0,0,0.042812,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.085781,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.743915,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.743915,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.085781,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.018872,0
26,0,0.0,1,0,7,233,31,21,1,1,8,0.998206,1
27,1,0.0,0,0,7,228,58,22,0,2,1,0.769599,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.042812,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.769599,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.021254,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.042812,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.017499,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.024053,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.356759,0
35,1,0.0,0,0,7,289,33,30,0,2,1,0.458323,0
36,1,0.0,0,0,7,235,37,29,1,1,1,0.775190,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.007885,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.002834,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.010705,0

- 'Probability' - is the probability that a given individual is expected to be absent from the work more than 3 hours (excessively)
- 'Prediction' - is 1 if the probability obtained was 50% or higher, or 0 if the probability obtained was lower than 50%.

In [6]:
import pymysql

In [7]:
conn = pymysql.connect(database = 'predicted_outputs', user = 'test', password = 'system')

In [8]:
cursor = conn.cursor()

## Checkpoint 'df_new_obs'

In [9]:
df_new_obs = model.predicted_outputs()
df_new_obs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.028301,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.256077,0
2,0,0.0,0,1,6,155,34,25,0,2,0,0.006380,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.018033,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.294305,0
5,1,0.0,0,0,6,225,28,24,0,1,2,0.322647,0
6,1,0.0,0,0,6,118,46,25,0,2,0,0.408251,0
7,0,0.0,0,1,6,179,30,19,1,0,0,0.028301,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.013135,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.463648,0
10,0,0.0,0,1,6,378,36,21,0,2,4,0.006269,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.987260,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.993998,1
13,0,0.0,0,1,6,179,30,19,1,0,0,0.028301,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.002099,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.003682,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.987260,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.654175,1
18,0,0.0,0,1,6,291,40,25,0,1,1,0.008584,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.864071,1
20,0,0.0,0,1,7,118,37,28,0,0,0,0.042812,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.085781,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.743915,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.743915,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.085781,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.018872,0
26,0,0.0,1,0,7,233,31,21,1,1,8,0.998206,1
27,1,0.0,0,0,7,228,58,22,0,2,1,0.769599,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.042812,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.769599,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.021254,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.042812,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.017499,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.024053,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.356759,0
35,1,0.0,0,0,7,289,33,30,0,2,1,0.458323,0
36,1,0.0,0,0,7,235,37,29,1,1,1,0.775190,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.007885,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.002834,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.010705,0

### To .CSV File

In [28]:
df_new_obs.to_csv('Absenteeism_predictions.csv', index=False)

## .execute()

In [10]:
cursor.execute('SELECT * FROM predicted_outputs;')

0

In [11]:
# Another way not prefered
query = 'SELECT * FROM predicted_outputs;'
cursor.execute(query)

0

In [12]:
# Insert data to mysql using iterator
insert_query = 'INSERT INTO predicted_outputs VALUES '

In [13]:
insert_query

'INSERT INTO predicted_outputs VALUES '

In [14]:
df_new_obs.shape

(40, 13)

In [15]:
df_new_obs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet', 'Probability', 'Prediction'], dtype=object)

In [16]:
df_new_obs['Age']

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: Age, dtype: int64

In [17]:
df_new_obs[df_new_obs.columns.values[6]]

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: Age, dtype: int64

In [18]:
df_new_obs[df_new_obs.columns.values[6]][0]

30

In [19]:
for i in range(df_new_obs.shape[0]):
    insert_query += '('
    
    for j in range(df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', '
        
    insert_query = insert_query[:-2] + '), '

In [20]:
insert_query

'INSERT INTO predicted_outputs VALUES (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.028300614297769578, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.25607700904650055, 0), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.006380093159972323, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.01803267934938603, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.29430487954646617, 0), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.3226470017247451, 0), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.40825082710728783, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.028300614297769578, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.013134759320341974, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.4636476519952824, 0), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.006268532932924649, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.987260097140557, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.9939978147319114, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.028300614297769578, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.0020988686299486413, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.00368238416724002, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.987260097140557, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.6541749941367755, 1), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.00858433557396707, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.8640714835514773, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.04281176832681945, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.08578054898165632, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.7439151109865133, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.7439151109865133, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.08578054898165632, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.018872409301395242, 0), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.9982063292057793, 1), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.7695985591516524, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.04281176832681945, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.7695985591516524, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.021253757092950406, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.04281176832681945, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.017498616609317324, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.024052864645437974, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.35675931297135016, 0), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.45832278297393403, 0), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.775189889683195, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.007884967732087354, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.002833958519207976, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.01070526655228674, 0), '

In [21]:
# To make the query end with semicolon
insert_query = insert_query[:-2] + ';'

In [22]:
insert_query

'INSERT INTO predicted_outputs VALUES (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.028300614297769578, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.25607700904650055, 0), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.006380093159972323, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.01803267934938603, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.29430487954646617, 0), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.3226470017247451, 0), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.40825082710728783, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.028300614297769578, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.013134759320341974, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.4636476519952824, 0), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.006268532932924649, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.987260097140557, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.9939978147319114, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.028300614297769578, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.0020988686299486413, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.00368238416724002, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.987260097140557, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.6541749941367755, 1), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.00858433557396707, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.8640714835514773, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.04281176832681945, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.08578054898165632, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.7439151109865133, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.7439151109865133, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.08578054898165632, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.018872409301395242, 0), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.9982063292057793, 1), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.7695985591516524, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.04281176832681945, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.7695985591516524, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.021253757092950406, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.04281176832681945, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.017498616609317324, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.024052864645437974, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.35675931297135016, 0), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.45832278297393403, 0), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.775189889683195, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.007884967732087354, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.002833958519207976, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.01070526655228674, 0);'

In [23]:
cursor.execute(insert_query)

40

In [24]:
# Connect database on mysql workbench first
conn.commit()

In [25]:
conn.close()

- Since we are not using TabPY to connect SQL to Tableau, we will save the predicted_outputs from mysql as .csv file, then we will use this file in Tableau.